# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
+ Listing 3 Popular Languages that Data Scientists Use
+ Listing Some Libraries Commonly Used by Data Scientists
+ Showcasing Ways of Evaluating Arithmetic Expressiosn in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. scikit-learn
3. ggplot

|Data Science Tools|
|------------------|
|Jupyter Lab|
|Google Colab|
|IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [21]:
#this a simple arithmetic expression to mutiply then add integers
3*4+5

17

In [29]:
#This will convert 200 minutes to hours by diving by 60
print ((200/60), "Hours")

3.3333333333333335 Hours

## Author
Aly Gomaa